body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shape {
  border: 2px solid indigo;
  background-color: rgba(76, 0, 130, 0.411);
  margin: .7em auto .7em auto;
  padding: .4em;
  max-width: 80%;
  border-radius: 10px;
  
}

.shape__child {
  max-width: 15em;
  max-height: 15em;
  font-size: .7rem;
  color:lightcyan;
  background-color: rgb(82, 1, 82);
  text-align: center;
  margin: 0 auto;
  padding: .3em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 1px solid lightcyan;
}

.shape__child--flex {
  display: flex;
  
}

.shape__child--flex > p {
  max-width: 15em;
  max-height: 15em;
  font-size: .7rem;
  color:lightcyan;
  background-color: rgb(82, 1, 82);
  text-align: center;
  margin: 0 auto;
  padding: .3em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 1px solid lightcyan;

}